body {
    box-sizing: border-box;
}
button{
    cursor: pointer;
}

.center_ {
    width: 1080px;
    margin: 0 auto;
}

.middle {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 300px;
    min-height: 300px;
    background: url(./css_img/original.jpg) top left no-repeat;
    background-size: auto;
}

.header .header_font {
    float: right;
    margin-top: 46px;
    width: 318px;
    height: 206px;
}

.header_font h2 {
    float: right;
    color: #fff;
    font-weight: 500;
    font-size: 30px;
}

.header_font .header_point {
    display: flex;
    justify-content: space-evenly;
    width: 264px;
    float: right;
}

.header_font .header_point>div {
    background-color: rgba(255, 255, 255, 0.397);
    height: 36px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 24px auto;
}

.header_font .sy_time {
    float: right;
    color: #fff;
    font-size: 18px;
}

.header_font .sq_button {
    background-color: #fe5341;
    border: none;
    border-radius: 4px;
    float: right;
    width: 242px;
    height: 48px;
    margin-top: 22px;
    color: #fff;
    text-align: center;
    line-height: 48px;
    font-size: 24px;
    cursor: pointer;
}

.flow {
    display: flex;
    align-items: center;
    height: 102px;
    line-height: 102px;
    width: 100%;
    background-color: #f0f0f0;
}

.flow_path {
    position: relative;
    height: 64px;
    /* padding: 20px 10px; */
}

.flow_path h4 {
    display: block;
    border-left: 6px solid #f65742;
    width: 38px;
    height: 64px;
    line-height: 32px;
    font-size: 18px;
    padding-left: 10px;
}

.path_ {
    position: absolute;
    left: 40px;
    top: 0;
    height: 64px;
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 40px;
}

.path_active {
    border-bottom: 2px solid #f65742;
}

.path_>div {
    height: 64px;
    width: 48px;
    font-size: 12px;
    color: #808080;
    margin: 0;
    background-position: top;
    background-repeat: no-repeat;
}

.path_>div img {
    height: 37px;
}

.path_1 {
    background-image: url(css_img/use1.png);
}

.path_2 {
    background-image: url(css_img/use2.png);
}

.path_3 {
    background-image: url(css_img/use3.png);
}

.path_4 {
    background-image: url(css_img/use4.png);
}

.path_5 {
    background-image: url(css_img/use5.png);
}

.content .ctt_h4 {
    padding-left: 10px;
    display: block;
    border-left: 6px solid #ff5046;
    height: 30px;
    line-height: 30px;
    margin: 32px 0;
}

.blu {
    color: #0d7fe5;
    font-weight: 600;
    font-size: 16px;
    margin: 36px 0;
}

.content h5 {
    margin: 24px 0;
    font-size: 17px;
    color: #ff0022;
}

.content p {
    font-size: 15px;
}

ol {
    margin-left: 24px;
}

.hot_box {
    margin: 22px 0;
}

.hot_box .hot_yy {
    color: #000;
    font-size: 20px;
    float: left;
}

.hot_box .hot_more a {
    color: #ff503d;
    font-size: 12px;
    float: right;
}

.cont_ {
    display: flex;
    justify-content: space-between;
}

.cont_ .cont_1 {
    width: 698px;
}

 .cont_2 {
    float: right;
    margin-left: 34px;
    overflow: hidden;
    width: 270px;
}

h5.blk {
    font-size: 16px;
    color: #000;
    margin: 14px 0;
}

.cont_2 .sm {
    font-size: 12px;
    color: #ababa9;
}


.left_cont_2 {
    width: 270px;
    height: 120px;
}


.main_sp {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_sp img {
    width: 246px;
    height: 153px;
}

.main_sp h4 {
    text-align: center;
    width: 210px;
    margin: 0 auto;
}

.main_sp .box1 {
    position: relative;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    margin: 18px auto;
    cursor: pointer;
    src: url(../user_report.html);
}

/*试用栏样式 2*/

.main_sp .wz {
    margin: 6px;
}

.main_sp .sy {
    display: flex;
    justify-content: space-between;
    width: 111px;
    height: 25px;
    margin: 0 auto;
    text-align: center;
    margin: 8px auto;
}

/*首发样式*/

.main_sp .box1 .sf {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 22px;
    width: 40px;
    height: 22px;
    background-color: #f8542e;
    color: #fff;
    font-size: 14px;
    border-radius: 0 6px 0 6px;
}

/*普通试用栏*/

.main_sp .sy .sy_ {
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    color: #cfcfcf;
    font-size: 12px;
    text-align: center;
    height: 25px;
    width: 50px;
    line-height: 25px;
    float: left;
}

.main_sp .bgsl {
    text-align: center;
    margin: 6px auto;
    color: #cfcfcf;
    font-size: 14px;
}

/*剩余时间-限时试用栏*/

.main_sp .sy1 .sy_ {
    border: 1px solid #7bc862;
    border-radius: 5px;
    color: #7bc862;
    font-size: 12px;
    text-align: center;
    height: 25px;
    width: 50px;
    line-height: 25px;
    float: left;
}

.main_sp .sysj {
    text-align: center;
    margin: 6px auto;
    color: #7bc862;
    font-size: 14px;
}

/*试用名单*/

.main_sp .sy2 .sy_ {
    border: 1px solid #f75441;
    border-radius: 5px;
    color: #f75441;
    font-size: 12px;
    text-align: center;
    height: 25px;
    width: 50px;
    line-height: 25px;
    float: left;
}

.main_sp .symd {
    text-align: center;
    margin: 6px auto;
    color: #f75441;
    font-size: 14px;
    cursor: pointer;
}

/*申请数量*/

.main_sp h5 {
    text-align: center;
    margin: 6px auto;
    font-weight: 500;
}

.main_sp h5 span {
    color: #ff3c3c;
}


.m_rand{
    width: 20px;
    height: 20px;
}